@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make it feel like a mobile app */
html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

@supports(padding: max(0px)) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
